albumentations==2.0.2
einops==0.6.1
faiss-gpu==1.7.2
graphviz==0.20.3
h5py==3.12.1
imageio==2.34.1
imgviz==1.7.6
lmdb==1.4.1
matplotlib==3.10.0
multiprocess==0.70.15
numpy==1.24.4
openslide-python==1.4.1
pandas==2.2.3
pillow==11.1.0
pytorch-lightning==2.0.0
scikit-image==0.25.0
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
tensorboardX==2.6.1
timm==0.6.12
torch==1.13.1+cu116
torch-ema==0.3
torchaudio==0.13.1+cu116
torchmetrics==1.5.2
torchvision==0.14.1+cu116
torchviz==0.0.3
tqdm==4.65.2
umap-learn==0.5.7
